@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
body{
    min-height: 100vh;
    overflow-x: hidden;
    /*background: linear-gradient(#000000, #636b8a, #1b1c20);*/
    background: #ececec;
    background-image: url("stars.png");
    background-image: url("black-stars-galaxy.png");
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover{
    background: #fff;
    color: #2b1055;
}

/* orbit */
.orbit-display{
    display: block;
    height: 1000px;
    background-color: black;
    background-image: url("black-stars-galaxy.png");
}
.orbit-contain img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-top: 50px;
    width: 75%;
    
}

/*List */
.list{
    margin-top: 5rem;
}
.listImage{
  display: grid;
  align-items: center;
  column-gap: 2rem;
  justify-content: space-between;
  justify-items: center;
  margin-top: 3rem;
  margin-bottom: 10rem;
  grid-template-columns: repeat(3,1fr);
  color: rgb(59, 59, 59);
}
.list-img{
  width: 150px;
  object-fit: contain;
  opacity: 0.4;
  transition: var(--tran-0-5);
  border: 5px solid rgba(0, 0, 0, 0.808);
  background-color: rgba(255, 255, 255, 0.729);
  box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
}
.list-img:hover{
    opacity: 1;
}
.list-content{
    text-align: center;
    font-size: 1.5em;
}
.list-content:hover{
    color: #ececec;
}

/*Content*/
.content{
    position: absolute;
}
.content-box-black{
    background-color: #000000;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 50px;
    padding-left: 50px;
    color: #F28444;
}
.content-box-gray{
    background-color: #f3f3f3;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 50px;
    padding-left: 50px;
    color: #011C40;
}
.earth-big-img img{
    height: 18rem;
    justify-content: center;
    align-items: center;
    transform: translate(550px);
    margin-top: 2rem;
    z-index: -1;
}
.isi{
    margin-left: 50px;
}
.title{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 3rem;
    color: #dedede;
}
.title-gap{
    margin-bottom: 0.7em;
}
.paragraph{
    font-size: 1.3em;
    color: #dedede;
    font-weight: 800;
}
.content-definisi{
    padding-top: 5rem;
    margin-top: 25rem;
    padding-bottom: 25rem;
}
.paragraph-definisi-margin{
    margin-left: 10rem;
    margin-right: 10rem;
}
.content-akibat{
    padding-top: 5rem;
    margin-bottom: 30rem;
}
.paragraph-akibat{
    margin-left: 6.8rem;
    margin-right: 6.8rem;
}
.content-manfaat{
    padding: 5rem;
    margin-bottom: 15rem;
}
.paragraph-manfaat{
    margin-left: 3rem;
    margin-right: 3rem;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-75%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}